*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

@font-face{
    font-family: Amazon_Ember_Bold;
    src: url(./fonts/Amazon\ Ember\ Bold.ttf);
}

@font-face{
    font-family: Amazon_Ember_Heavy;
    src: url(./fonts/Amazon\ Ember\ Heavy.ttf);
}

@font-face{
    font-family: Amazon_Ember_Medium;
    src: url(./fonts/Amazon\ Ember\ Medium.ttf);
}

@font-face{
    font-family: Amazon_Ember_Regular;
    src: url(./fonts/AmazonEmber_Rg.ttf);
}

:root{
    --mainColor: rgb(29, 46, 77);
}


/* -----------nav bar----------> */
.navbar{
    width: 100%;
    height: auto;
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    
}

.nav_img{
    flex-basis: 50%;
    padding: 0 2%;
}


.nav_img img{
    width: 116px;
    padding: 15px 0;
    display: flex;
}

.drop_menu{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 0 4%;
    position: relative;
}

.drop_menu_h2{
    cursor: pointer;
}

.drop_menu ul{
    position: absolute;
    background-color: var(--mainColor);
    top: 45px;
    padding: 20px;
    color: white;
    font-family: Amazon_Ember_Regular;
    line-height: 31px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    z-index: 5;
}

.drop_menu ul li{
    list-style: none;
    cursor: pointer;
}


.drop_menu h2{
    color: rgb(255, 255, 255);
    font-family: Amazon_Ember_Regular;
    letter-spacing: 1px;
    font-size: 18px;
}

.drop_menu_ul_display{
    display: block;
}


.hamburger_menu{
    margin-right: 0;
    padding-right: 0;
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: column;
    display: none;
   
}

.hamburger_icons{
    width: 33px;
    height: 3px;
    border-radius: 1px;
    background-color: white;
    margin: 3px 25px;  
}

.drop_menu_hamburger{
    width: 100%;
    height: auto;
    background-color: var(--mainColor);
    display: none;
    
}
.drop_menu_ul_hamburger_h4{
    margin: 10px 0;
}

.drop_menu_ul_hamburger{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    list-style: none;
    color: white;
    background-color: var(--mainColor);
    font-family: Amazon_Ember_Regular;
    line-height: 31px;
    position: absolute;
    padding: 0 15px;
    top: 5px;
    z-index: 5;
    
}

.drop_menu_h2_hamburger{
    background-color: var(--mainColor);
    font-family: Amazon_Ember_Regular;
    color: white;
    position: absolute;
    padding: 0 15px;
    top: 0;
}

.hamburger_flex_bases1{
    flex-basis: 50%;
}

.hamburger_flex_bases2{
    color: white;
    flex-basis: 50%;
    position: absolute;
    right: 15px;
    top: 20px;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 17px;
    z-index: 5;

}

@media(max-width: 992px){
    .drop_menu{
        display: none;
    }

    .hamburger_menu{
        display: flex;
    }

    
}


/* -------------Header----------> */

.main_header{
    width: 100%;
    height: auto;
    background: url(./Images/mainImg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.main_header_li_2_mobile{
    display: none;
}

.main_header_li_4_mobile{
    display: none;
}


.main_header_li_1{
    display: flex;
    margin: 0 15px;
    padding: 15px 25px;
    font-family: Amazon_Ember_Regular;

}

.main_header_li_date{
    color: white;
}

.main_header_li_2{
    width: 60%;
    padding: 3% 20%;
    font-family: Amazon_Ember_Regular;
    list-style: none;
    line-height: 70px;
}

.main_header_li_2 h1{
    font-size: 80px !important;
    color: white;
}

.main_header_li_2 h2{
    font-size: 70px !important;
    color: white;
}

.main_header_li_2 h3{
    font-size: 60px !important;
    color: white;
}

.main_header_li_2 h4{
    font-size: 50px !important;
    color: white;
}

.main_header_li_2_p{
    line-height: 30px;
    margin: 15px 0;
    font-family: Amazon_Ember_Regular;
    list-style: none;
    color: white;
}


.main_header_li_4{
    display: flex;
    gap: 5px;
    margin: 15px;
    padding: 15px 25px;
    font-family: Amazon_Ember_Regular;

}

.main_header_li_4 p{
    color: white;
}

.disclosure{
    width: 20%;
    height: auto;
    border: 0.2px solid black;
    background-color: white;
    border-radius: 5px;
    z-index: 10;
    display: none;

}

.disclosure p{
    font-family: Amazon_Ember_Regular;  
    color: black;
    padding: 5px;
}

.main_header_li_4_disclosure{
    display: block;
}


@media(max-width: 1900px){
    .main_header_li_4{
        margin: 12px 0;
    }

}

@media(max-width: 1820px){
    .main_header_li_2_p {
        line-height: 20px;
    }
}

@media(max-width: 1820px){
    .main_header_li_4 {
        margin: -5px 0;
    }

    .main_header_li_2_p {
        line-height: 23px;
    }
}


@media(max-width: 1720px){
    .main_header_li_4 {
        margin: -15px 0;
    }

    .main_header_li_2_p {
        line-height: 20px;
    }
    .box_for_ranking_2{
        left: 21% !important;
    }
}

@media(max-width: 1660px){
    .main_header_li_4 {
        margin: -25px 0;
    }

    .main_header_li_2_p {
        line-height: 18px;
    }

    .main_header_li_2{
        padding: 3% 15%;
    }
}

@media(max-width: 1550px){
    .main_header_li_4 {
        margin: -35px 0;
    }

    .main_header_li_2 h1{
        font-size: 65px !important;
    }

    .main_header_li_2 h2{
        font-size: 60px !important;
    }
    
    .main_header_li_2 h3{
        font-size: 55px !important;
    }

    .main_header_li_2 h4{
        font-size: 50px !important;
    }

    .main_header_li_2_p {
        line-height: 20px;
    }

    .main_header_li_2{
        padding: 3% 12%;
        line-height: 60px;
    }

    
}

@media(max-width: 1360px){

    .main_header_li_1{
        font-size: 14px;
        gap: 7px;
    }

    .main_header_li_1 img{
        width: 18px;
    }

    .main_header_li_4 {
        margin: -35px 0;
        font-size: 14px;
    }

    .main_header_li_2 h1{
        font-size: 55px !important;
    }

    .main_header_li_2 h2{
        font-size: 50px !important;
    }
    
    .main_header_li_2 h3{
        font-size: 45px !important;
    }

    .main_header_li_2 h4{
        font-size: 40px !important;
    }

    .main_header_li_2_p {
        line-height: 20px;
    }

    .main_header_li_2{
        padding: 3% 12%;
        line-height: 52px;
    }

    
}

@media(max-width: 1250px){

    .main_header_li_1{
        font-size: 13px;
        gap: 7px;
    }

    .main_header_li_1 img{
        width: 18px;
    }

    .main_header_li_4 {
        margin: -35px 0;
        font-size: 13px;
    }

    .main_header_li_2 h1{
        font-size: 45px !important;
    }

    .main_header_li_2 h2{
        font-size: 40px !important;
    }
    
    .main_header_li_2 h3{
        font-size: 35px !important;
    }

    .main_header_li_2 h4{
        font-size: 30px !important;
        line-height: 28px;
    }

    .main_header_li_2_p {
        line-height: 16px;
    }

    .main_header_li_2{
        padding: 3% 12%;
        line-height: 40px;
    }
    
}

@media(max-width: 1140px){

    .main_header_li_1{
        font-size: 13px;
        gap: 7px;
    }

    .main_header_li_1 img{
        width: 18px;
    }

    .main_header_li_4 {
        margin: -35px 0;
        font-size: 13px;
    }

    .main_header_li_2 h1{
        font-size: 40px !important;
    }

    .main_header_li_2 h2{
        font-size: 35px !important;
    }
    
    .main_header_li_2 h3{
        font-size: 30px !important;
    }

    .main_header_li_2 h4{
        font-size: 25px !important;
        line-height: 28px !important;
    }

    .main_header_li_2_p {
        font-size: 14px;
        line-height: 16px;
    }

    .main_header_li_2{
        padding: 3% 12%;
        line-height: 35px;
    }
    
}

@media(max-width: 1030px){
    .main_header{
        background: rgb(68, 101, 156);
    }

    .main_header_li_1{
        display: flex;
        justify-content: end;
    }

    .main_header_li_2{
        display: none;
    }

    .main_header_li_4{
        display: none;
    }

    .main_header_li_2_mobile{
        display: block;
       text-align: center;
       margin: 35px 0;
       color: white;
       font-family: Amazon_Ember_Regular;

    }

    .main_header_li_2_mobile h1{
        margin: 15px 0;
        font-size: 45px;
    }

    .main_header_li_2_mobile p{
        font-size: 17px;
        background-color: white;
        padding: 8px;
        border-radius: 5px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 10px;
       font-family: Amazon_Ember_Regular;
       font-weight: bold;

    }


    .main_header_li_4 p{
        font-size: 13px;
        
    }

    .main_header_li_4_mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-family: Amazon_Ember_Regular;
        color: white;
        text-align: center;
        padding: 25px 0;
    }

    .save_amount_2 h2{
        font-size: 20px !important;
    }

    .save_amount_2 span{
        font-size: 20px !important;
    }

    .button-21{
        line-height: 2.5 !important;
        padding: 0px 22px !important;
    }

    .puffylux_png {
        max-width: 250px !important;
    }

    .mattress_png {
        width: 90% !important;
    }

    .reviews_content_box_img img{
        height: 85% !important;
        width: 85% !important;
    }

    .reviews_content_box h3{
        font-size: 13px !important;
    }

}

@media(max-width: 525px){
    .main_header_li_2_mobile h1{
        line-height: 42px;
    }
}

@media(max-width: 850px){
    .box_for_ranking_2{
        left: 3% !important;
    }
}

.menu_list{
    width: 100%;
    height: auto;
    margin: 55px 0;
    position: relative;
}

.menu_list_2{
    overflow: auto;
}

.menu_list_ul{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
   

}

.menu_list_ul li{
    width: 7%;
    height: auto;
    background-color: rgba(29, 46, 77, 0.12);
    color: rgb(131, 133, 134);
    list-style: none;
    padding: 12px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    font-family: Amazon_Ember_Regular;

}

.menu_list_ul li:nth-child(1){
    background-color: rgb(29, 46, 77);
    color: white;
}

.bmo_ranking_box_inners{
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bmo_ranking_box_inners ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bmo_ranking_section{
    width: 100%;
    height: auto;
    margin: 4% 0;
}

.bmo_ranking_box{
    margin: 0 16%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li{
    list-style: none;
}

.line_for_raking{
    background-color: rgb(195 202 213);
    width: 120px;
    height: 1px;
    position: relative;
}

.box_for_ranking{
    width: 70px;
    height: auto;
    background-color: rgb(255, 154, 1);
    color: white;
    font-family: Amazon_Ember_Regular;
    border-bottom-right-radius: 25px;
    padding: 10px;
    font-size: 10px;
    position: absolute;
    left: 23%;

}

.box_for_ranking h1{
    text-align: center;
    font-size: 23px;
}

.box_for_ranking span{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.editors_choice{
    margin: 23px 0;
    margin-top: 150px;
}

.editors_choice h4{
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
    font-family: Amazon_Ember_Regular;

}

.editors_choice_inners_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.editors_choice_inners_flex p{
    font-family: Amazon_Ember_Regular;
    font-size: 14px;
}

.fa-check{
    font-size: 15px;
}

.editors_choice_inners{
    line-height: 35px;
}

.puffylux_png{
    max-width: 300px;
    width: auto;
    max-height: 100px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.mattress_png{
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
}

.ratingstars_png{
    width: 100%;
    margin: 20px 0;
}

.bmo_ranking_box_inners_ul_li_1{
    margin: auto;
}

.bmo_ranking_box_inners_ul_li_3{
    text-align: center;
    margin: auto;
}

.bmo_ranking_box_inners_ul_li_3 h3{
    margin: 15px 0;
    font-family: Amazon_Ember_Regular;
    color: #a29b9b;
    font-size: 17px;


}

.line_for_raking_2{
    background-color: rgb(195 202 213);
    width: 225px;
    height: 1px;
    position: relative;
}

.CR{
    width: 177px;
    height: auto;
    background-color: var(--mainColor);
    color: white;
    border-bottom-left-radius: 25px;
    padding: 7px;
    font-family: Amazon_Ember_Regular;
    position: absolute;
    right: 23%;

}

.save_750{
    margin-top: 45%;
    font-family: Amazon_Ember_Regular;
}

.save_750_for_others{
    font-family: Amazon_Ember_Regular;
    margin: 15px 0;
    margin: auto;
}

.save_750 h2{
    font-size: 14px;
}

.save_750_for_others h2{
    font-size: 21px;
    color: rgb(255, 154, 1);

}

.save_750_for_others span{
    font-size: 21px;
    color: black;

}

.save_750_for_others_mobile{
    font-family: Amazon_Ember_Regular;
    margin: 15px 0;
    line-height: 38px;
}

.save_750_for_others_mobile h2{
    font-size: 27px;
    color: rgb(255, 154, 1);

}

.save_750_for_others_mobile span{
    font-size: 27px;
    color: black;

}

.name_of_brand{
    font-size: 14px;
    color: black !important;
}

.includes_accessorices{
    font-family: Amazon_Ember_Regular;
    margin: 11% 0;
}

.includes_accessorices p{
    font-size: 13px;
    font-weight: bold;
}

.shop_button{
    font-family: Amazon_Ember_Regular;
    width: 100%;
    margin-top: 5% 0;
}

.shop_button_inner{
    color: white;
    border: none;
    border-radius: 35%;
    padding: 13px;
}

.visit_site{
    font-family: Amazon_Ember_Regular;
    width: 100%;
    margin: 9% 0;
}

.visit_site a{
    font-family: Amazon_Ember_Regular;
    color: black !important;
    font-size: 17px;
    font-weight: bold;
}

.bmo_ranking_box_inners_ul_1 .line_for_raking_2{
    display: none !important;
}

.bmo_ranking_box_inners_ul_1 .CR{
    display: none !important;

}

.bmo_ranking_box_inners_mobile{
    display: none !important;
}




/* CSS */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: rgb(255, 154, 1);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: Amazon_Ember_Regular;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 2.5;
  padding: 4px 27px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin: 7px 0;
}

@media(max-width: 1800px){
    .CR {
        right: 23% !important;
    }

    .box_for_ranking{
        left: 23% !important;
    }
}

@media(max-width: 1500px){
    .CR {
        right: 22% !important;
    }

    .box_for_ranking{
        left: 22% !important;
    }
    .box_for_ranking_2{
        left: 20% !important;
    }
}



@media(max-width: 1300px){
    .bmo_ranking_box{
       margin: 0;
    }

    .box_for_ranking {
        left: 10%;
    }

    .CR {
        right: 10% !important  
    }

    .box_for_ranking{
        left: 10% !important;
    }
    .editors_choice_inners{
        line-height: 25px;
    }
    
    .horizontalline h2{
        width: 90% !important; 
     } 

     .customer_reviews_inners {
        width: 93% !important;
     }
     .box_for_ranking_2{
        left: 9% !important;
    }
}
    @media(max-width: 1110px){
    .box_for_ranking{
        left: 9% !important;
    }

    .box_for_ranking_2{
        left: 7% !important;
    }

   

}

@media(max-width: 1000px){
    .editors_choice_inners_flex p{
        font-size: 14px;
    }

    .save_750 h2{
        font-size: 12px;
    }

    .includes_accessorices p {
        font-size: 12px;
    }

    .ratingstars_png{
        width: 80%;
    }

    .bmo_ranking_box_inners_ul_li_3 h3{
        font-size: 17px;
    }

    .CR {
        right: 8% !important;
        width: 155px !important;
        padding: 6px !important;
    }

    .box_for_ranking{
        width: 62px !important;
        padding: 8px !important;
    }

    .box_for_ranking_2{
        left: 6% !important;
    }
}

.verified_CR{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verified_CR_inner{
    margin: 0 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.horizontalline{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
}

.horizontalline h2{
    font-size: 15px;
    gap: 5px;
    color: rgb(255, 154, 1);
    font-family: Amazon_Ember_Regular;

}



.horizontalline h2 {
    width: 70%;
    display: flex;
    justify-content: center;
    border-bottom: 2.5px solid rgb(229 229 229);
    line-height: 0.1em;
    margin: 10px 0px 20px;
    position: relative;

 } 

 .horizontalline i{
     line-height: 0.1em;
 }

 
 .horizontalline h2 span { 
     
     background-color: white;
     color: rgb(255, 166, 34);
     padding: 0 10px; 
     font-size: 14px;
     position: absolute;
 }

 .horizontalline_mobile{
    display: none !important;
 }


 .customer_reviews{
    width: 100%;
    height: auto;
    margin: 32px 0;
 }

 .customer_reviews_inners{
    display: flex;
    width: 61%;
    margin: auto;
 }

 .reviews_content_box{
    padding: 0 60px;
 }

 .reviews_content_box_img{
    border-radius: 5px;
    width: 160px;
    height: 120px;
    overflow: hidden;
    order: 1;
    display: flex;
    align-items: center;
 }
 

 .reviews_content_box_img img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
    margin-top: 25px;
    border-radius: 5px;
 }

 .reviews_content_box p{
    color: rgb(50, 52, 56);
    font-size: 15px;
    letter-spacing: normal;
    line-height: 20px;
    order: 2;
 }


 .reviews_content_box h3{
    font-family: Amazon_Ember_Regular;
    font-size: 17px;

 }

 .reviews_content_box p{
    margin-top: 10px;
    font-family: Amazon_Ember_Regular;
    font-size: 14px;

 }
 

 .box_for_ranking_2{
  
        width: 70px;
        height: auto;
        background-color: var(--mainColor);
        color: white;
        font-family: Amazon_Ember_Regular;
        border-bottom-right-radius: 25px;
        padding: 10px;
        font-size: 10px;
        position: absolute;
        left: 22%;
 }

 .box_for_ranking_2 h1{
    text-align: center;
    font-size: 23px;
 }

 .box_for_ranking_2 span{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
 }

 .save_amount_2{
    margin: 15% 0;
 }

 .save_amount_2 h2{
    font-size: 25px;
    margin: 5px 0;
    font-family: Amazon_Ember_Regular;
    color: rgb(255, 154, 1);
    font-weight: bold;

 }

 .save_amount_2_span{
    color: black;
    font-family: Amazon_Ember_Regular;

 }

 .save_amount_2 span{
    font-size: 23px;
    color: black;
    font-family: Amazon_Ember_Regular;
    font-weight: bold;

 }

 .reviews_content_box_img_logo{
    border-radius: 5px;
    width: 160px;
    height: 120px;
    overflow: hidden;
    order: 1;
    display: flex;
    align-items: center;
 }

 .reviews_content_box_img_logo img{
    height: auto;
    max-width: 100%;
 }

 .bmo_ranking_box_inners_ul_for_mobile{
    display: none;
 }

 .horizontalline_mobile h2{
    background-color: white;
    color: rgb(255, 166, 34);
    padding: 0 10px;
    font-size: 14px;
    font-family: Amazon_Ember_Regular;

 }

 @media(max-width: 870px){
    .bmo_ranking_box{
        display: block;
    }

    .bmo_ranking_box_inners_ul_1 .editors_choice{
        display: none !important;
    }

    .bmo_ranking_box_inners_ul_1 .editors_choice_inners{
        display: none !important;
    }

    .bmo_ranking_box_inners_ul_for_mobile{
        display: block;
    }

    .bmo_ranking_box_inners{
        display: block;
    }

    .box_for_ranking {
        left: 7% !important;
    }

    .bmo_ranking_box_inners ul{
        margin: 70px 0 ;
    }

    .bmo_ranking_box_inners_ul_li_3 .line_for_raking_2{
        display: none !important;
    }

    .bmo_ranking_box_inners_ul_li_3 .CR{
        display: none !important;
    }

    .bmo_ranking_box_inners_ul_1 .line_for_raking_2{
        display: block !important;
    }
    
    .bmo_ranking_box_inners_ul_1 .CR{
        display: block !important;
    
    }

    .bmo_ranking_box_inners_ul_1{
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
    }

    .bmo_ranking_box_inners_ul_1 .CR{
        padding: 12px !important;
    }

    .bmo_ranking_box_inners_ul_2{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

     .bmo_ranking_box_inners_ul_li_3 h3{
        margin: -13px 0;
    } 

    .bmo_ranking_box_inners_ul_li_3 :nth-child(5){
        display: none !important;
    }
    .bmo_ranking_box_inners_ul_li_3 :nth-child(6){
        display: none !important;
    }

    .bmo_ranking_box_inners_ul_for_mobile{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 20px;
    }

    .editors_choice {
        margin: 23px 0
    }

    .bmo_ranking_box_inners_mobile{
        display: block !important;
    }

    .verified_CR{
        display: none !important;
    }

    .horizontalline_mobile{
        display: block !important;
        margin: 0 10px;
    }

    .customer_reviews_inners{
        display: block;
    }

    .reviews_content_box{
        padding: 0;
        margin: 15px 0;
    }

    .reviews_content_box_img img{
        margin: 5px 0;
    }

    .reviews_content_box {
        margin: 30px 0;
    }

    .save_750{
        margin-top: 0;
    }

    .bmo_ranking_box_inners_ul_li_3_mobile{
        text-align: center;
    }

    .includes_accessorices {
        margin: 3% 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .visit_site {
        margin: 3% 0;

    }

    .bmo_ranking_box :nth-child(4){
        display: none;
    }

    .save_750 h2{
        font-size: 18px;
    }

    .includes_accessorices p{
        font-size: 16px;
    }

    .button-21{
        font-size: 21px;
    }

    .bmo_ranking_box_inners_ul_for_mobile :nth-child(4){
        display: block;
    }
 }